# 1. НЕ ЗАЛИВАТЬ зависимости
node_modules/

# 2. НЕ ЗАЛИВАТЬ базу данных
data/database.sqlite
*.db
*.sqlite*

# 3. НЕ ЗАЛИВАТЬ системные файлы
.DS_Store
Thumbs.db
*.log

# 4. НЕ ЗАЛИВАТЬ настройки редактора
.vscode/
.idea/
*.swp

# 5. НЕ ЗАЛИВАТь файлы окружения (будут позже)
.env